:root {
    --blue-color: #1992D4;
    --gray-color: #E2E8F0;
    --yellow-color: #F0B429;
    --bio-color: #636363;
  }

body{
    margin: 0%;
    font-family: "Roboto";
}

a{
    text-decoration: none;
    color: inherit;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
}

.dashboard{
    background-color: var(--blue-color);
    overflow: auto;
    min-width: max-content;
}

.dashboard-items-container{
    margin-top: 15px;
    display: grid;
    grid-template: repeat(12, 1fr) / 1fr;
    justify-items: left;
    gap: 10px;
}

.dashboard-items{
    background-color: inherit;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 35px;
}

.logo-container{
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: left;
    justify-items: left;
    gap: 15px;
}

.logo{
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    gap: 5px;
    width: 50px;
    height: 50px;
}

.logo-text{
    align-self: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 10px;
}

.first{
    grid-row: 1/3;
    background-color: white;
}

.second{
    grid-row: 3;
    background-color: white;
}

.third{
    grid-column: 2;
    background-color: white;
}

.fourth{
    grid-column: 2;
    grid-row: 2/4;
    background-color: white;
}

#Home{
    grid-row: 3/4;
    display: flex;
    gap: 5px;
    align-items: center;
}


#Profile{
    grid-row: 4/5;
    display: flex;
    gap: 5px;
    align-items: center;
}

#Messages{
    grid-row: 5/6;
    display: flex;
    gap: 5px;
    align-items: center;
}

#History{
    grid-row: 6/7;
    display: flex;
    gap: 5px;
    align-items: center;
}

#Tasks{
    grid-row: 7/8;
    display: flex;
    gap: 5px;
    align-items: center;
}

#Communities{
    grid-row: 8/9;
    display: flex;
    gap: 5px;
    align-items: center;
}

#Settings{
    grid-row: 10/11;
    display: flex;
    gap: 5px;
    align-items: center;
}

#Support{
    grid-row: 11/12;
    display: flex;
    gap: 5px;
    align-items: center;
}

#Privacy{
    grid-row: 12/13;
    display: flex;
    gap: 5px;
    align-items: center;
}

.dash-icons{
    fill: #ffffff;
    width: 22px; 
    height: 22px;
}

.body-container{
    background-color: var(--gray-color);
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header-container .first-row{
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.header-container{
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchbar-container{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.searchbar{
    border: none;
    border-radius: 20px;
    background-color: var(--gray-color);
    height: 2rem;
    width: max(40px, 80%);
    
}

.serach-icon-container{
    width: max-content;
}

.search-icon{
    fill: #000000;
    width: 22px; 
    height: 22px; 
}

::placeholder {
    padding-left: 5px; /* Adjust the value as needed */
}

.notif-icon{
    width: 22px; 
    height: 22px; 
}

.profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.username{
    font-weight: bold;

}

.user-info-container{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    place-items: center;
}

.second-profile-picture{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.header-container .second-row{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    padding-top: 20px;
}

.second-row .first-part{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 20px;
}

.second-row .second-part{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 20px;
    align-items: center;
}

.second-row .second-part > button{
    background-color: var(--blue-color);
    color: white;
    font-weight: bold;
    border: none;
    height: 35px;
    padding: 0px 35px;
    border-radius: 25px;
}

.hello-txt{
    font-weight: bold;
    font-weight: 16px;
    margin-bottom: 5px;
}

.welcome-name{
    font-weight: bold;
    font-size: 22px;
}

.main-body{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    overflow: auto;
    gap: 20px;
}

.projects{
    display: grid;
    grid-template: max-content 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
}

.projects-title-text{
    font-weight: bold;
    font-size: 18px;
}

.project-item{
    display: grid;
    grid-template-columns: 8px 1fr;
    background-color: white;
    border-radius: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.yellow-div{
    background-color: var(--yellow-color);
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
}

.project-content{
    display: grid;
    grid-template-rows: 1fr max-content;
    padding: 30px 15px;
}

.project-title{
    font-weight: bold;
    font-size: 18px;
}

.project-explanation{
    color: var(--bio-color);
}

.project-buttons{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: right;
    gap: 30px;
    padding-right: 20px;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

div > svg{
    width: 24px;
    height: 24px;
    fill: black;
}

.announcements-trending-container{
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 20px;
}

.announcements-container{
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 20px;
}

.announcements-content-container{
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.announcements-title-text{
    font-size: 18px;
    font-weight: bold;
}

.announcement-title{
    font-weight: bold;
    font-size: 16px;
}

.announcements{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(99, 99, 99, 0.5);
}

.last-announcement{
    border: none;
}

.announce-description{
    color: var(--bio-color);
    font-size: 14px;
}

.trending{
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 20px;
}

.trending-title-text{
    font-weight: bold;
    font-size: 18px;
}

.trending-accounts{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    gap: 20px;
    border-radius: 15px;
}

.account-id{
    font-size: 14px;
    font-weight: bold;
}

.trending-account-bio{
    font-size: 14px;
    color: var(--bio-color);
    font-weight: bold;
}

.trending-account-container{
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 15px;
}